/* .list-background {
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fstock.adobe.com%2Fsearch%3Fk%3D%2522school%2Bbackground%2522&psig=AOvVaw0ZdxwUOHXeijFa3SMnPwzs&ust=1683058795003000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCPDsvuL41P4CFQAAAAAdAAAAABAE");
} */

/* https://i.stack.imgur.com/p9mUO.jpg */


body {
    background-image: url("https://img.freepik.com/free-photo/empty-blackboard_53876-30426.jpg?w=826&t=st=1683058331~exp=1683058931~hmac=cb564732efb996428c947a33011526d73408b6c7c5f83ed66c30c281fd93047b");
    background-repeat: no-repeat;
    background-size: cover;
}




/* https://i.stack.imgur.com/jGlzr.png */

ul {
    background-image: url("https://img.freepik.com/free-photo/natural-wooden-background_24837-269.jpg?w=826&t=st=1683059526~exp=1683060126~hmac=f1e964cac9ca9f5cca14391674a79f99aaed712010907d28085f222cba576afb");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
}

li {
    display: inline;
    text-decoration: none;
}

li>a:link {
    color: beige;
    text-decoration: none;
}

li>a:visited {
    color: beige;
    text-decoration: none;
}

.ainheader:hover {
    display: inline;
    text-decoration: none;
    font-family: chalkduster;
    color: beige;
    font-size: 175%;
}

h1 {
    padding: 15px;
    font-family: chalkduster;
    color: beige;
}

th {
    font-family: chalkduster;
    color: lightgrey;
}

td>a:link {
    color: #c36f31;
    font-family: chalkduster;
    text-decoration: none;
}

td>a:visited {
    color: #c36f31;
}

td>a:hover {
    color: #c36f31;
    font-size: 110%;
    font-family: chalkduster;

}

td {
    color: #b9cb99;
    font-family: chalkduster;
}

p>a:link {
    color: #cab39f;
    text-decoration: none;
    font-family: chalkduster;
}

p>a:visited {
    color: #cab39f;
    text-decoration: none;
    font-family: chalkduster;
}

p>a:hover {
    color: #cab39f;
    font-family: chalkduster;
    font-size: 110%;
    text-decoration: underline;
}

p>a:active {
    color: #cab39f;
    font-family: chalkduster;
}

h1+p {
    color: #44d0e6;
    font-family: chalkduster;
}

h2 {
    font-family: chalkduster;
}

form {
    color: #44d0e6;
    font-family: chalkduster;
}

.button:link {
    background-color: #b9cb99;
    font-family: chalkduster;
}

.button:visited {
    background-color: #b9cb99;
    font-family: chalkduster;
}

.button:hover {
    background-color: #b9cb99;
    font-family: chalkduster;
}

footer>h3 {
    /* background-image: url("https://img.freepik.com/free-photo/natural-wooden-background_24837-269.jpg?w=826&t=st=1683059526~exp=1683060126~hmac=f1e964cac9ca9f5cca14391674a79f99aaed712010907d28085f222cba576afb"); */
    padding: 250px 0;
    position: bottom;
    font-size: 15px;
    text-align: center;
    font-family: chalkduster;
    color: beige;
}

ul>div {
    text-align: right;
    font-family: chalkduster;
    color: beige;
}
