{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tracker</title>
        <link rel="stylesheet" href="{% static 'css/projects.css' %}">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'show_my_tasks' %}" class="ainheader">My tasks</a>
                        </li>
                        <li>
                            <a href="{% url 'list_projects' %}" class="ainheader">My projects</a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}" class="ainheader">Logout</a>
                        </li>
                        <div>{% now "jS F Y H:i" %}</div>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                        <li>
                            <a href="{% url 'signup' %}">Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
        <footer>
            <h3>Brought to you by a student @HackReactor</h3>
        </footer>
    </body>
</html>
